@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --bg_color: #003520;
}
.body {
    margin: 0;
}

.sitename {
    font-size: 300%;
    color: #fff;   
}
    .sitename a {
        width: 1000px;
        color: #fff;
        display: block;
        text-decoration: none;
        margin:20px auto;
        text-align: center;
    }
    

header {
    background: var(--bg_color);
    padding: 20px;
}
h3{
     font-family: "Roboto";
}
.nav__spnav {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav__item:first-child {
    overflow: hidden;
    border-radius: 8px 0 0 8px;
}


.nav__item:last-child {
    overflow: hidden;
    border-radius: 0 8px 8px 0;
}

.nav__link {
    background: #27d114;
    padding: 7px 15px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

    .nav__link:hover {
        background: #fc1515;
    }


    
.content {
    max-width: 1024px;
    margin: 20px auto;
    display: flex;
}

.aside {
    widht: 25%;
}
.infoItem{
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
}
.aside__item {
    padding: 0 0 0 10px;
}

.short_info {
    padding: 0 0 0 10px;
    list-style: none;
}
.short_info__item {
    margin-bottom: 20px;
}

.content > main {
    widht: 75%;
}

.InfoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.InfLink{
    color: #000000;
}

.infoItem {
    width: 48%;
    padding: 10px;
    background: #5fce55;
    box-sizing: border-box;
}

a:hover{
    text-decoration: none;
}

footer {
    background: var(--bg_color);
    color: #fff;
    padding: 20px;
}
.footer__text {
    margin: 0 0 5px 0
}
.footer__link {
    color: #fff;
}
